body {
  background-color: #183a4a;
}

.square_container {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  justify-content: center;
}

.square {
  aspect-ratio: 1;
  min-width: 70px;
  background-color: azure;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-basis: calc(100% / 12);
}
